<div class="text-right">
  <button mat-dialog-close mat-icon-button (click)="decline()">
    <mat-icon> close </mat-icon>
  </button>
</div>
<h1>Potvrda artikla</h1>
<div>
  <div class="mt-3 mb-3">
    <mat-checkbox
      [checked]="data.paidStatus === 'PAID'"
      #payAllCheckbox
      (click)="payAll(payAllCheckbox.checked)"
      >Isplati sve</mat-checkbox
    >
    <mat-checkbox
      [checked]="data.deliveredStatus === 'DELIVERED'"
      style="margin-left: 1em"
      #deliverAllCheckbox
      (click)="deliverAll(deliverAllCheckbox.checked)"
      >Razduži sve</mat-checkbox
    >
  </div>
  <generic-material-table
    [displayedColumns]="articleTableConfig"
    [dataSource]="data.listOfArticles"
  >
    <ng-template #payedAmountColumn let-element>
      <div class="inline">
        <mat-form-field>
          <mat-label>Plaćena količina</mat-label>
          <input
            [disabled]="payAllCheckbox.checked"
            [value]="
              payAllCheckbox.checked ? element.amount : element.payedAmount
            "
            #payedAmountInput
            type="number"
            matInput
          />
        </mat-form-field>
        <button
          [disabled]="
            payedAmountInput.value > element.amount ||
            payedAmountInput.value === '0' ||
            payAllCheckbox.checked
          "
          (click)="addArticlePayedAmount(element.id, payedAmountInput.value)"
          mat-button
          color="primary"
        >
          Dodaj
        </button>
      </div>
    </ng-template>
    <ng-template #deliveredAmountColumn let-element>
      <div class="inline">
        <mat-form-field>
          <mat-label>Isporučena količina</mat-label>
          <input
            [disabled]="deliverAllCheckbox.checked"
            [value]="
              deliverAllCheckbox.checked
                ? element.amount
                : element.deliveredAmount
            "
            #deliveredAmountInput
            matInput
          />
        </mat-form-field>
        <button
          [disabled]="
            deliveredAmountInput.value > element.amount ||
            deliveredAmountInput.value === '0' ||
            deliverAllCheckbox.checked
          "
          (click)="
            addArticleDeliveredAmount(element.id, deliveredAmountInput.value)
          "
          mat-button
          color="primary"
        >
          Dodaj
        </button>
      </div>
    </ng-template>
  </generic-material-table>
</div>
<button class="primary-btn" mat-button (click)="confirm()">Potvrdi</button>
