<div>
    <div class="row">
        <div class="col-6">
            <h2>{{header}}</h2>
        </div>
        <div class="col-6 text-right">
            <button mat-button class="primary-btn" (click)="openAddDialog()">Dodaj</button>
        </div>
    </div>
    <mat-spinner #spinner diameter="25"></mat-spinner>
    <app-generic-table (openEdit)="openEditDialog($event)"
                       (onDelete)="delete($event)" [dataSource]="dataSource"
                       [displayedColumns]="displayedColumns"></app-generic-table>
</div>
