<div class="component">
  <div class="row">
    <div class="col-6">
      <h2>{{ header }}</h2>
    </div>
    <div class="col-6 text-right">
      <button mat-button class="primary-btn" (click)="openAddDialog()">
        Dodaj
      </button>
    </div>
  </div>
  <mat-spinner #spinner diameter="25"></mat-spinner>
<div class="overflow-scroll">
  <generic-material-table
          [dataSource]="dataSource"
          [displayedColumns]="displayedColumns"
  >
    <ng-template #optionBtnsTemplateRef let-element>
      <div class="text-right">
        <button mat-button color="accent" (click)="openEditDialog(element)">
          <mat-icon>edit</mat-icon>
          Izmeni
        </button>
        <button mat-button color="warn" (click)="delete(element.id)">
          <mat-icon>delete</mat-icon>
          Obirši
        </button>
      </div>
    </ng-template>
  </generic-material-table>
</div>
</div>
