<div class="delivery-note-overview">
  <div class="text-right inline">
    <h4>Plaćeno</h4>
    <div
      [class]="
        deliveryNote.paidStatus.toString() === 'PAID'
          ? 'paid-col'
          : 'not-paid-col'
      "
    >
      <mat-icon>
        {{ deliveryNote.paidStatus.toString() === "PAID" ? "check" : "close" }}
      </mat-icon>
    </div>
    <h4>Dostavljenjo</h4>
    <div
      [class]="
        deliveryNote.deliveryStatus === 'DELIVERED'
          ? 'paid-col'
          : 'not-paid-col'
      "
    >
      <mat-icon>
        {{ deliveryNote.deliveryStatus === "DELIVERED" ? "check" : "close" }}
      </mat-icon>
    </div>
  </div>

  <div class="text-right">
    <h4>
      <b>Datum otpremnice</b>: {{ deliveryNote.dateOfDeliveryNote | date }}
    </h4>
  </div>
  <div *ngIf="deliveryNote.idClient">
    <h2>
      {{
        deliveryNote.idClient.firstName + " " + deliveryNote.idClient.lastName
      }}
    </h2>
    <p *ngIf="deliveryNote.idClient.telephone">
      <b>Kontakt: </b>{{ deliveryNote.idClient.telephone }}
    </p>
  </div>
  <generic-material-table
    [dataSource]="deliveryNote.listOfArticles"
    [displayedColumns]="articlesTableColumns"
  >
    <ng-template #deliveredAmountColumn let-element>
      <ng-container [ngSwitch]="element.deliveryStatus">
        <div class="inline" style="justify-content: left">
          <p style="margin-right: 0.5em">{{ element.deliveredAmount }}</p>
          <mat-icon *ngSwitchCase="'DELIVERED'" color="primary">done</mat-icon>
          <mat-icon *ngSwitchCase="'NOT_DELIVERED'" color="warn"
            >error</mat-icon
          >
        </div>
      </ng-container>
    </ng-template>
    <ng-template #payedAmountColumn let-element>
      <ng-container [ngSwitch]="element.paidStatus">
        <div class="inline" style="justify-content: left">
          <p style="margin-right: 0.5em">{{ element.payedAmount }}</p>
          <mat-icon *ngSwitchCase="'PAID'" color="primary">done</mat-icon>
          <mat-icon *ngSwitchCase="'NOT_PAID'" color="warn">error</mat-icon>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #updateAmountColumn let-element>
      <ng-container>
        <div class="text-right">
          <button mat-button color="primary" (click)="openArticleConfirmDialog(element)">Ažuriraj</button>
        </div>
      </ng-container>
    </ng-template>
  </generic-material-table>
  <div class="text-right">
    <div class="price-div">
      <h2>Ukupno: {{ deliveryNote.gross }}</h2>
    </div>
  </div>
</div>
