<div class="text-right">
    <button mat-mini-fab mat-dialog-close class="close-btn">
        <mat-icon>close</mat-icon>
    </button>
</div>
<h1><b>Kreiranje otpremnice</b></h1>
<app-form-date [group]="deliveryNoteForm" [config]="dateOfDeliveryNoteConfig"></app-form-date>
<form [formGroup]="deliveryNoteForm">
    <mat-form-field class="example-full-width">
        <mat-label>Klijent</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               formControlName="idClient"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of listOfClients$ | async"
                        [value]="client">
                {{client.firstName + ' ' + client.lastName + ' ' + client.telephone}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<app-form-select label="Status plaćanja" [config]="paidStatusSelectConfig"
                 [group]="deliveryNoteForm"></app-form-select>
<form [formGroup]="searchForm">
    <mat-form-field class="example-full-width">
        <mat-label>Pretraži</mat-label>
        <input type="text"
               placeholder="Pretraži"
               matInput
               formControlName="search">
    </mat-form-field>
</form>

<table mat-table [dataSource]="listOfArticles" class="mat-elevation-z8">
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Šifra</th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Ime</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Cena</th>
        <td mat-cell *matCellDef="let element"> {{element.sellingPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Cena</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="addArticle(element)" class="m-1" mat-icon-button color="primary">
                <mat-icon>add</mat-icon>
            </button>
            <button  (click)="removeArticle(element)" mat-icon-button class="m-1" color="warn">
                <mat-icon>remove</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="articleTableDisplayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: articleTableDisplayedColumns;"></tr>
</table>
<div class="text-right w-25 mt-3">
    <app-form-input [model]="total" label="Ukupno"  [group]="deliveryNoteForm" [config]="grossInputConfig" appearance="outline"></app-form-input>
</div>

<div class="text-right">
    <button class="primary-btn " mat-button>Sačuvaj</button>
</div>

<h2><b>Trenutni artikli</b></h2>
<div>
    <div class="row article-row" *ngFor="let selectedArticle of (listOfSelectedArticles|groupObjectInArray)">
        <div class="col"><h4>{{selectedArticle.code}}</h4></div>
        <div class="col"><h4>{{selectedArticle.name}}</h4></div>
        <div class="col"><h4>{{selectedArticle.sellingPrice}}</h4></div>
        <div class="col"><h4>{{selectedArticle.amount}}</h4></div>
        <div class="col"><h4>{{selectedArticle.total}}</h4></div>
    </div>
</div>
