<mat-drawer-container fullscreen>
    <mat-drawer [opened]="!responsiveService.getIsMobileValue()"
                [mode]="responsiveService.getIsMobileValue()?'over':'side'"
                #drawer>
        <div class="menu">
            <div id="overview-btn" (click)="loadDashboardComponent()">
                <a (click)="changeColor($event)">
                    <div class="active menu-item">
                        <mat-icon>home</mat-icon>
                        <h3>Početna</h3>
                    </div>
                </a>
            </div>

            <app-component-activator
                    icon="settings"
                    title="Šifarnik"
                    (load)="loadCodeBook()"
            ></app-component-activator>
            <app-component-activator
                    icon="collections_bookmark"
                    title="Artikli"
                    (load)="loadArticlesComponent()"
            ></app-component-activator>
            <app-component-activator
                    icon="account_circle"
                    title="Klijenti"
                    (load)="loadClient()"
            ></app-component-activator>
            <app-component-activator
                    icon="business_center"
                    title="Otpremnice"
                    (load)="loadDeliveryNote()"
            ></app-component-activator>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <app-navbar [header]="header" (onToggle)="drawer.toggle()"></app-navbar>
        <div #target class="content"></div>
    </mat-drawer-content>
</mat-drawer-container>
