@import "src/styles"
mat-drawer
  width: 12%
  padding: 2em 0
  border: 0
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
  background-color: $primary
  text-align: center
mat-icon
  pointer-events: none
  margin: 0 .25em
.active,.inactive
  display: inline-flex
  width: 100%
  cursor: pointer
  justify-content: center
h3
  -webkit-transition: .3s ease
  cursor: pointer
  pointer-events: none

.active
  -webkit-transition: .5s ease
  color: white
  background-color: $def-black
  padding: .5em 0

.inactive
  color: $def-black
  padding: .5em
