@import "src/styles"
mat-drawer
  width: 12%
  padding: 2em 0
  background-color: $primary
  text-align: center

  .menu
    margin-top: 10em

    mat-icon
      pointer-events: none

    .active
      color: white
      background-color: $def-black
      padding: 2em 0
