@import "src/styles"
.login
  background-color: #fafafa
  padding-top: 15em

  .login-form
    background-color: white
    border-radius: 18px
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px

    .col-sm-7
      background-color: $primary
      border-top-right-radius: 50px
      border-bottom-right-radius: 50px

      h1
        font-size: 62px
        color: white

      .text
        padding: 5em

    .col-sm
      padding: 5em

      mat-spinner
        margin: 2em auto
        display: none


::-webkit-scrollbar, ::-webkit-scrollbar-thumb
  display: none !important

