<div class="login">
    <div class="container login-form">
        <div class="row">
            <div class="col-sm-7">
                <div class="text">
                    <h1>Dobrodošli</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text e</p>
                </div>
            </div>
            <div class="col-sm text-center">
                <img src="assets/img/user-icon-human-person-sign-vector-10206693.png" class="img-fluid" width="100px">
                <app-form-input icon="person" label="Username" [config]="usernameInputConfig"
                                [group]="loginForm"></app-form-input>
                <app-form-input icon="lock" label="Password" [config]="passwordInputConfig"
                                [group]="loginForm"></app-form-input>
                <button class="primary-btn mt-3" mat-button (click)="auth()">Login</button>
                <mat-spinner #spinner diameter="25"></mat-spinner>
            </div>
        </div>

    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#66bb6a" fill-opacity="1"
              d="M0,128L120,149.3C240,171,480,213,720,197.3C960,181,1200,107,1320,69.3L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
</div>
