$primary: #8ff5b6
$secondary: #219a6f
$def-black: #121212
h1, h2, h3, button
  font-family: 'Prompt', sans-serif

p
  font-family: 'Montserrat', sans-serif

.primary-btn
  width: 100%
  background-color: $primary
  padding: .4em 0

.inline
  display: inline-flex

.component
  padding: 2em
